body {
    background-color: #FAF9F6;
}

* {
    margin: 0;
}

.navbar-2 {
    width: 100%;
    height: 70px;
    background-color: black;
    margin-bottom: 30px;
}

.logo-2 {
    width: 300px;
    height: 100%;
    color: white;
    float: left;
    margin-left: 70px;
    font-size: 3rem;
    margin-top: 8px;
}

ul li {
    list-style: none;
    display: inline-block;
    color: white;
    float: right;
    margin-top: 17.5px;
    margin-right: 70px;
    width: 80px;
}

ul li:hover {
    background-color: gray;
}

li {
    margin-left: 0;
    border: 2px solid white;
    font-size: 1.2rem;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
    border-radius: 10px;
}

.containerog {
    width: 100%;
    height: 700px;
}

.left-2 {
    width: 50%;
    height: 100%;
    float: left;
}

.formbox {
    width: 65%;
    background-color: #000000;
    margin-top: 150px;
    margin-left: 140px;
    padding-top: 150px;
    padding-bottom: 150px;
    border-radius: 10px;
}


input {
    border-radius: 10px;
}

input[type="text"] {
    width: 300px;
    height: 30px;
    margin-left: 112px;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

input[type="password"] {
    width: 300px;
    height: 30px;
    margin-left: 112px;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

input[type="submit"] {
    width: 307px;
    height: 37px;
    margin-left: 112px;
    margin-bottom: 10px;
    font-size: 1.1rem;
    background-color: gray;
}

.right-2 {
    width: 50%;
    height: 100%;
    background-color: yellow;
    float: right;
    font-size: 1.1rem;
}

img {
    width: 100%;
    height: 100%;
    position: relative;
}

strong {
    color: #FAF9F6;
    position: absolute;
    right: 190px;
    top: 640px;
    font-size: 3.2rem;
}


